<section class="index-page">
  <img src= "../images/avatar.jpg" alt="avatar" class="avatar"/>
  
  <p class="success">
    Hello {{user}}!
  </p>

  <a href="/auth/logout">
    Logout
  </a>
</section>